body{
	background:black;
	font-family: courier, monospace;
	color:#FFFFF0;
	text-align:center;
	margin:auto;
}

h1{
font-weight: bold;
margin-bottom: 80px;
}

a{
	color:white;
}

p{
	max-width: 700px;
    margin: auto;
    margin-top: 20px;
    color: #c7c7c7;
}