table.contribution {
	background-color: #B29C6E;
	width: 90%;
	line-height: 22px;
	border-radius: 15px;
	margin: 30px auto;
	color: black;
	z-index: 9999;
	}
	
table.contribution tr:nth-child(1) td {
	padding: 1px;
	font-size: small;
	background: none;
	font-weight: bold;
	text-align: center;
}

table.contribution tr:nth-child(2) td {
	padding: 5px;
	font-size: small;
	background-color: #EADCBF;
	border-radius: 15px;
	text-align: left;
	font-style: italic;
}

#horrorbox div.horror {
	position: fixed;
	visibility: hidden;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
#animbox img {
	max-width: none !important;
}
#horrorbox div.horror img {
	position: relative;
	max-width: none !important;
}
#horror1 {
	width: 40px;
	height: 338px;
}
#horror2 {
	width: 46px;
	height: 279px;
}
#horror3 {
	width: 98px; /* 1px less than expected width */
	height: 330px;
}

#animbox {
	overflow: visible;
	position: fixed;
	}

#animbox div.thing {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	}
#animbox div.shadow {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 470px;
	height: 75px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	}
#shadowinner {
	position: absolute;
	visibility: inherit;
	top: 0px;
	left: 0px;
	width: 470px;
	height: 75px;
	transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	}
#animbox div.torch {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 167px;
	height: 143px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	overflow: hidden;
	}
#animbox div.torch img {
	position: relative;
}
#animbox div.torch2 {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 142px;
	height: 96px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	overflow: hidden;
}
#animbox div.torch2 img {
	position: relative;
}
	
#animbox div.step {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 676px;
	height: 97px;
	overflow: hidden;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
/* 	border: 1px solid white; */
	}
#animbox div.step img {
	position: relative;
}
#animbox div.kat {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 135px;
	height: 212px;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	overflow: hidden;
}
#justkat { 
	position: relative;
}	
	
#tallbox {
	min-height: 9000px;
	max-width: 760px;
	margin: auto;
	}
	
#controlbox {
	position: fixed;
	top: 0px;
	right: 0px;
	border: 1px solid white;
	min-width: 200px;
	min-height: 200px;
	background-color: black;
	color: gray;
	padding: 10px;
}


table.contribution.scrollback {
	visibility: hidden;
	position: relative;
	display: none;
}

#endroom {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 870px;
	height: 320px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
}

#clippingbox {
	position: relative;
	margin: 0px 0px;
	overflow: hidden;
/* 	border: 1px solid yellow; */
}

#clippingimg {
	position: relative;
}
