:root {
	--bg-one: #15181f;
	--bg-two: #3F4B63;
	
	--bg-mainpage: #F9F9F9;
	--bg-mainpage-title: #000000;
	--bg-mainpage-border: #c0c0c0;
	--bg-mainpage-text: #000000;
	--bg-mainpage-title-link: #787878;
	--bg-mainpage-bluelink: #0000FF;
	
	--bg-mainpage-link: #0986E6;
	--bg-mainpage-link-visited: #550B80;
	--bg-mainpage-link-hover: #0FB1D1;
	
	--bg-sidepage: #ffffff;
	--bg-sidepage-border: #c0c0c0;
	--bg-sidepage-text: #666666;
	--bg-sidepage-text-alt: #444;
	--bg-sidepage-text-link: #787878;
	
	--bg-contribution-one: #B29C6E;
	--bg-contribution-two: #B29C6E;
	--bg-contribution-three: #EADCBF;
	
	--bg-credits-color: #000000;
	--bg-credits-color-link: #787878;
}