:root {
	--bg-one: #15181f;
	--bg-two: #3F4B63;
	
	--bg-mainpage: #F9F9F9;
	--bg-mainpage-title: #000000;
	--bg-mainpage-border: #c0c0c0;
	--bg-mainpage-text: #000000;
	--bg-mainpage-title-link: #787878;
	--bg-mainpage-bluelink: #0000FF;
	
	--bg-mainpage-link: #0986E6;
	--bg-mainpage-link-visited: #550B80;
	--bg-mainpage-link-hover: #0FB1D1;
	
	--bg-sidepage: #ffffff;
	--bg-sidepage-border: #c0c0c0;
	--bg-sidepage-text: #666666;
	--bg-sidepage-text-alt: #444;
	--bg-sidepage-text-link: #787878;
	
	--bg-contribution-one: #B29C6E;
	--bg-contribution-two: #B29C6E;
	--bg-contribution-three: #EADCBF;
	--bg-contribution-text: #000000;

	--bg-credits-color: #000000;
	--bg-credits-color-link: #787878;
}

.scaryhidden {
	display: none;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

body {
	background-color: var(--bg-one);
	color: #000000;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13.92px;
}

.PAINANDTORTURE {
	float: left;
	min-width: 620px;
	width: 100%;
}

.mainpage {
	border: 1px solid var(--bg-mainpage-border);
	background: var(--bg-mainpage);
	padding: 25px 15px 1em 15px;
	overflow: hidden;
	margin-bottom: 10px;
	display: block;
	border-radius: 5px;
	color: var(--bg-mainpage-text);
}

.mainpage a {
	color: var(--bg-mainpage-link);
}

.mainpage a:visited {
	color: var(--bg-mainpage-link-visited);
}

.mainpage a:hover {
	color: var(--bg-mainpage-link-hover);
}

.sidebarlol {
	margin-left: 15px;
	margin-right: -275px;
	left: auto;
	right: auto;
	width: 260px;
	float: right;
	position: relative;
	display: block;
	padding-bottom: 54px;
}

.siderbarlol {
	float: right;
	position: relative;
	display: block;
	width: 260px;
	color: var(--bg-sidepage-text);
	line-height: 160%;
}

.suf-widget h3, .suf-widget h3 a, .suf-widget h3 a:visited {
	color: var(--bg-sidepage-text-alt);
}
.suf-widget h3 {
	font: bold 100%/100% Arial, Helvetica, sans-serif;
	color: var(--bg-sidepage-text-alt);
}
.dbx-handle {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.dbx-handle {
	position: relative;
	margin: 0;
	padding: 8px 24px 7px 10px;
	border-bottom: 1px dotted var(--bg-sidepage-border);
}
.dbx-group, .dbx-box, .dbx-handle {
	position: relative;
	display: block;
}

.dbx-content {
	overflow: visible !important;
}
.dbx-content {
	margin: 0;
	padding: 5px 10px 9px 10px;
	overflow: visible;
}

.suf-widget {
	background: var(--bg-sidepage);
	border: 1px solid var(--bg-sidepage-border);
	border-radius: 5px;
}

.suf-widget a,
.suf-widget a:visited {
	color: var(--bg-sidepage-text-link);
	text-decoration: none;
}

.suf-widget a:hover {
	text-decoration: underline;
}

h1.posttitle a, 
h1.posttitle a:visited, 
h2.posttitle a, 
h2.posttitle a:visited {
	color: var(--bg-mainpage-title);
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 24px;
}

h1.posttitle a:hover,
h2.posttitle a:hover {
	color: var(--bg-mainpage-title-link);
}

h1.posttitle, h2.posttitle {
	color: #000;
	margin: 3px 0 2px;
	padding-bottom: 4px;
	font-size: 200%;
	border-bottom: dotted 1px #CCCCCC;
}

h1, h2 {
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 0.5em 0;
  padding: 0;
  padding-bottom: 0px;
  line-height: 1.1em;
}

.container2 {
	padding-left: 0px;
	padding-right: 275px;
	border: 0;
	outline: 0;
	margin: 0;
	display: block;
	padding-top: 10px;
}

.month {
	color: #8A6555;
	font-family: Georgia, serif;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	font-size: 10.8px;
	text-align: center;
	height: 14px;
	display: block;
	text-align: center;
}

.day {
	color: #000000;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 18px;
	text-align: center;
	padding-top: 0;
	height: 14px;
	display: block;
	text-align: center;
}

.year {
	color: #594E30;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 9px;
	text-align: center;
	padding-top: 0;
	height: 12px;
	display: block;
	text-align: center;
}

.title-container {
	padding-left: 58px;
	display: block;
	padding-bottom: 50px;
}

.dbx-box .suf-widget .widget_text {
	border-radius: 5px;
	overflow: hidden;
	margin: 0 0 15px 0;
	padding: 0;
	clear: both;
	position: relative;
	display: block;
	background: #fff;
	border: 1px solid var(--bg-sidepage-border);
	color: #666666;
	line-height: 160%;
}

.awesometainer {
	width: 95%;
	max-width: 1140px;
	min-width: 600px;
	margin: 20px auto;
	background: var(--bg-two);
	border-radius: 7px;
	padding: 10px;
	position: relative;
	display: block;
	overflow: hidden;
}

.post-header .date {
	background: transparent url("../images/prequel/website/datebox.gif") top left repeat;
	height: 43px;
	width: 48px;
	right: 58px;
	font: normal 150% Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #ffffff;
	text-align: center;
	padding: 0;
	line-height: 50%;
	padding-top: 5px;
	margin-left: -100%;
	float: left;
	position: relative;
}

.post-header .title {
	float: left;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
}

.crappy-blue-link a {
	font: bold 38px/1.2 monospace, sans-serif;
	color: var(--bg-mainpage-bluelink) !important;
	text-decoration: underline !important;
}

.crappy-blue-link {
	font: bold 38px/1.2 monospace, sans-serif;
}

.cred a,
.cred /* ce crezi coaie */
{
	color: var(--bg-credits-color);
	text-decoration: none;
}

.cred {
	border-top: 1px solid #c0c0c0;
	padding-top: 10px;
}

.cred a:hover {
	color: var(--bg-credits-color-link);
	text-decoration: underline;
}

footer {
	position: absolute;
	width: 98%;
	bottom: 0;
	left: 0;	
	font-size: 11px;
	padding: 10px;
}

.previous {
	background: url('../images/prequel/website/larrow.png') no-repeat 0 50%;
	padding-left: 26px;
}

.next {
	background: url('../images/prequel/website/rarrow.png') no-repeat no-repeat 100% 50%;
	padding-right: 26px;
	float: right;
}

.mainpage a {
	text-decoration: none;
}

.mainpage a:hover {
	text-decoration: underline;
}

.post-nav {
	clear: both;
	padding: 5px;
	margin: 0 0 15px 0;
	font-size: 100%;
	background-color: var(--bg-sidepage);
	border: 1px solid var(--bg-sidepage-border);
	border-radius: 5px;
	display: block;
	line-height: 18px;
	font-size: 12px;
	min-width: 610px;
}

table, tbody, tfoot, thead, tr, th, td {
  border-radius: 15px;
}

.post-nav table {
	width: 100%;
}

.post-nav a, .post-nav a:visited {
	color: #999999;
	text-decoration: none;
}

.fix { display: inline-block; }
/* Hide from IE Mac \*/
.fix {display:block;}
/* End hide from IE Mac */

#header {
	min-height: 100px;	
	padding: 15px 0;
	padding-bottom: 15px;
}

.blogtitle.center {
	float: none;
	text-align: center;
	line-height: 47px;
	position: relative;
	margin: 0;
	padding: 0;
}

#header-container {
	background-image: url('../images/prequel/website/header1.jpg');
	border-radius: 11px;
	background-repeat: repeat;
	background-position: top center;
	height: 173px;
}

.textwidget a img {
	max-width: 240px;
}

.contribution {
	background-color: var(--bg-contribution-one) !important;
	color: var(--bg-contribution-text) !important;
}

.contribution tr:nth-of-type(1) td {
	background-color: var(--bg-contribution-two) !important;
}

.contribution tr:nth-of-type(2) td {
	background-color: var(--bg-contribution-three) !important;
}

.button, .button:visited, input[type="submit"], input[type="button"] {
	background: #a5a7aa url(../images/prequel/website/bg-gray-1.png) repeat-x top left;
	color: #444;
}

input {
	border: 1px solid #ccc;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	line-height: 1.5em;
	border-radius: 20px;
}

@media (max-width: 480px) { 
	.PAINANDTORTURE,
	.sidebarlol,
	.siderbarlol {
		float: unset;
		display: inline;
	}
	
	.mainpage img {
		max-width: 100%;
	}
	
	.post-nav {
		max-width: 100%;
		min-width: unset;
	}
	
	.loltitleimage {
		margin: auto;
	}
	
	.awesometainer {
		margin: 0;
		min-width: unset;
	}
	
	.container2 {
		padding-right: 0px;
	}
	
	.loltitleimage {
		content: url('../images/prequel/website/PrequelTitleMobile.png');
	}
	
  footer {
  	position: unset;
  	width: 94%;
  }
}